<div class="" *ngIf="showAlert">
    <div class="alert alert-success" role="alert">
        <button class="close" (click)="closeAlert()">&times;</button>
        <strong>Doctor has been successfully created.</strong>
    </div>
</div>

<div class="shadow rounded border p-5 col-6">
    <h3 class="fw-bold">Doctor Creation Form</h3><hr>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input  [(ngModel)]="doctor.name" class="ip" class="form-control" type="text" name="">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input  [(ngModel)]="doctor.age" class="ip" class="form-control" type="number" name="">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <input  [(ngModel)]="doctor.gender" class="ip" class="form-control" type="text" name="">
        </div>
        <div class="mb-3">
            <label for="specialist" class="form-label">Specialist</label>
            <input  [(ngModel)]="doctor.specialist" class="ip" class="form-control" type="text" name="">
        </div>
        <button class="btn btn-info" (click)="saveDoctor()" id="btn">Save</button>
    </form>
</div>
