<div class="" *ngIf="showAlert">
  <div class="alert alert-success" role="alert">
    <button class="close" (click)="closeAlert()">&times;</button>
    <strong>Patient has been successfully created.</strong>
  </div>
</div>

<div class="border shadow p-5 rounded col-6">
  <h3 class="fw-bold">Patient Creation Form</h3><hr>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input  [(ngModel)]="patient.name" id="name" class="form-control" type="text" name="">
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Date Of Visit</label>
      <input  [(ngModel)]="patient.dateOfVisit" id="age" class="form-control" type="date" name="">
    </div>
    <div class="mb-3">
      <label for="doctorName" class="form-label">Doctor-Name</label>              
      <select [(ngModel)]="patient.doctorName"id="age" class="form-control" type="text" placeholder="select Doctor" >
        <option data-ng-repeat="names"  class="form-control" *ngFor = "let d of doctor"value="{{d.name}}" ng-selected="true">{{d.name}}</option>
      </select>
    </div>
    <button class="btn btn-info" id="btn" value="Save" (click)="savePatient()">Save</button>
  </form>
</div>
