<form class="d-flex col-4">
    <input  id="suk" type="text" name="" [(ngModel)]="this.id" class="form-control me-2 form-control-lg" placeholder="Enter Patient ID">
    <button (click)="searchPatient()" id="btn" ng-show="true" class="btn btn-info" >Search</button>
</form>

<table class="table table-striped border shadow mt-5 rounded" *ngIf="p">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>DateOfVisited</th>
      <th>Consulted Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{p.patientId}}</td>
      <td>{{p.name}}</td>
      <td>{{p.dateOfVisit}}</td>
      <td>{{p.doctorName}}</td>
    </tr>
  </tbody>
</table>

<ng-template #elseBlock>No Patient with that ID.</ng-template>








