<form class="d-flex col-4">
  <input list="name" [(ngModel)]="this.name" placeholder="Select Doctor" class="form-control form-control-lg me-2">
  <datalist id="name"  type="text" >
    <option  *ngFor = "let dl of doctor"value="{{dl.name}}" >{{dl.name}}</option>
  </datalist>
  <button (click)="searchDoctor()" id="btn" ng-show="true" class="btn btn-info">Search</button>
</form>

<table class="table table-striped border shadow mt-5" *ngIf="d">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Specialist</th>
      <th>Nuber Of Patiets Visited</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{d.name}}</td>
      <td>{{d.age}}</td>
      <td>{{d.gender}}</td>
      <td>{{d.specialist}}</td>
      <td>{{l}}</td>
    </tr>
  </tbody>
</table>

<ng-template #elseBlock>No Doctor with that Name.</ng-template>


                

                
       
